<a href="https://colab.research.google.com/github/joseverajim/Actividad-3.1-3.2-y-3.3-Valores-Nulos-/blob/main/Actividad3.2/Josevera/Actividad_3_2_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np #
import re

# 1) Cargar el archivo Excel y la hoja 2023
file_path = "Gastos y costos 20-23.xlsx"   # Asegúrate que esté en la misma carpeta
df2023 = pd.read_excel(file_path, sheet_name="2023", header=3)

In [3]:
#Revisar columnas del dataframe
df2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  Otros        0 non-null      float64
 15  TOTAL MX     397 non-null    float64
 16  TOTAL SAT    397 non-null    float64
 17  Tipo         397 non-null    object
 18  Status       397 non-null    object
 19  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 62.2+ KB

In [5]:
#Revisar cuántos vacíos hay por columna
print(df2023.isnull().sum())

Fecha            0
Folio           13
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       8
Descripción      0
MP              71
FP              71
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [6]:
# Revisar qué pasa con los registros que tienen Folio nulo
print(df2023[df2023["Folio"].isnull()].head(20))

         Fecha Folio                                  UUID            RFC  \
17  2023-01-01   NaN  8BCDE3BB-6B66-4EB9-9E68-73622875994F   TME840315KT6
90  2023-01-01   NaN  B9943156-B044-4FC9-BA4F-7E3EDE49AF12  SOMA690808RT6
93  2023-01-01   NaN  30B89A77-37E1-4AC8-996B-8F8B303E7A96  LAFC670511E51
125 2023-01-01   NaN  14F135F6-1469-493D-938C-1D536747FF65   NFM0307091L9
191 2023-01-01   NaN  03A1E420-0D87-4DBA-818B-EDEF6D7A1E65   TME840315KT6
244 2023-02-01   NaN  E8E20C44-7C1E-4824-87F2-CEE040A0FFD8  SAHM881103BR1
257 2023-02-01   NaN  8419C591-AE98-44D1-9298-7362287591E7   TME840315KT6
262 2023-02-01   NaN  B2301ACC-DC39-4F46-BBB3-C59C7501D356  SAAJ7708108H7
327 2023-02-01   NaN  91223FBB-1CD9-41EC-B0BA-A9D7097D1378  SOMA690808RT6
338 2023-02-01   NaN  643862D4-D79D-4B17-A31F-BE73C6396A87   NFM0307091L9
343 2023-02-01   NaN  F943E10C-1C49-4DAE-B911-4EF2CE95FB45  LAFC670511E51
355 2023-02-01   NaN  68626F73-33DF-41B3-AC86-73622875B6C7   TME840315KT6
383 2023-02-01   NaN  AAA17260-1175-4DAF-90C4-1ACC2FCBEDCD  CETA880713JV8

                              Proveedor    TIPO GASTO  \
17   TELEFONOS DE MEXICO S.A.B. DE C.V.      TELEFONO
90       ALEJANDRO ANTONIO SORIA MOLINA      COMPRAS
93                 CARLOS LASTRA FALLAS  CAPACITACION
125                   NR FINANCE MEXICO      CREDITO
191  TELEFONOS DE MEXICO S.A.B. DE C.V.      TELEFONO
244           MARTIN SANDOVAL HERNANDEZ       COMPRAS
257  TELEFONOS DE MEXICO S.A.B. DE C.V.      TELEFONO
262        JOSE JUAN SANTIAGO ALCANTARA      COMPRAS
327      ALEJANDRO ANTONIO SORIA MOLINA      COMPRAS
338                   NR FINANCE MEXICO      CREDITO
343                CARLOS LASTRA FALLAS  CAPACITACION
355  TELEFONOS DE MEXICO S.A.B. DE C.V.      TELEFONO
383     ANGEL ENRIQUE CERVANTES TAVAREZ           NaN

                                        Descripción   MP    FP   TC   Importe  \
17                              SUSCRIPCION NETFLIX  PPD  99.0  1.0   2623.03
90                  COACHING CORPORATIVO ENERO 2023  PPD  99.0  1.0  10000.00
93                 INTEGRACION DE EQUIPO DE TRABAJO  PUE   3.0  1.0   3750.00
125                       Interes de Financiamiento  PUE   3.0  1.0   1690.61
191                                            Pago  NaN   NaN  1.0      0.00
244                                            Pago  NaN   NaN  1.0      0.00
257                             SUSCRIPCION NETFLIX  PPD  99.0  1.0   2505.55
262  TERMOSTATO KSD302 200C 16A NORMALMENTE CERRADO  PUE   1.0  1.0    187.93
327                   COACHING CORPORATIVO FEB 2023  PPD  99.0  1.0  10000.00
338                       Interes de Financiamiento  PUE   3.0  1.0   1643.63
343                INTEGRACION DE EQUIPO DE TRABAJO  PUE   3.0  1.0   3750.00
355                                            Pago  NaN   NaN  1.0      0.00
383                 Mob-HM 68 Aceite para compresor  PUE   3.0  1.0   5858.99

         IVA  RET ISR  RET IVA  Otros  TOTAL MX  TOTAL SAT Tipo   Status  \
17    401.28      0.0     0.00    NaN   3024.31    3024.31    I  Vigente
90   1600.00    125.0  1066.68    NaN  10408.32   10408.32    I  Vigente
93    600.00      0.0     0.00    NaN   4350.00    4350.00    I  Vigente
125   270.50      0.0     0.00    NaN   1961.11    1961.11    I  Vigente
191     0.00      0.0     0.00    NaN      0.00       0.00    P  Vigente
244     0.00      0.0     0.00    NaN      0.00       0.00    P  Vigente
257   382.48      0.0     0.00    NaN   2888.03    2888.03    I  Vigente
262    30.07      0.0     0.00    NaN    218.00     218.00    I  Vigente
327  1600.00    125.0  1066.68    NaN  10408.32   10408.32    I  Vigente
338   262.98      0.0     0.00    NaN   1906.61    1906.61    I  Vigente
343   600.00      0.0     0.00    NaN   4350.00    4350.00    I  Vigente
355     0.00      0.0     0.00    NaN      0.00       0.00    P  Vigente
383   937.44      0.0     0.00    NaN   6796.43    6796.43    I  Vigente

          Poliza
17    PE96-ENE23
90   PE101-ENE23
93    PE66-ENE23
125   PE69-ENE23
191          NaN
244          NaN
257   PE74-FEB23
262   PE64-FEB23
327          NaN
338   PE54-FEB23
343  PE107-FEB23
355          NaN
383          NaN

In [7]:
# 1. Sustitución de valores de  Folio
# Este bloque identifica las filas donde el Folio está vacío (mask = True).
# Luego genera valores únicos de reemplazo: "SIN_FOLIO_1", "SIN_FOLIO_2", ...
# De esta manera, cada registro conserva un identificador aunque no tenga Folio original, evitando duplicados o pérdida de información y podiendo identificar cuales fueron los datos imputados.
mask = df2023["Folio"].isnull()
df2023.loc[mask, "Folio"] = [f"SIN_FOLIO_{i}" for i in range(1, mask.sum()+1)]

In [8]:
# 2. Eliminamos las columnas de MP Y FP vacias
# --- Comprobación específica de MP y FP ---
# Sabemos por la revisión en Excel que los valores faltantes en estas columnas aparecen como celdas vacías o con el símbolo "-".
# Hacemos una verificación rápida de cuántos registros cumplen esa condición.

mp_invalidos = ((df2023["MP"].isna()) | (df2023["MP"] == "-")).sum()
fp_invalidos = ((df2023["FP"].isna()) | (df2023["FP"] == "-")).sum()

print(f"Registros inválidos detectados en MP: {mp_invalidos}")
print(f"Registros inválidos detectados en FP: {fp_invalidos}")

Registros inválidos detectados en MP: 71
Registros inválidos detectados en FP: 71

In [9]:
# --- Eliminación de esas filas ---
# Eliminamos los registros que tengan valores vacíos o "-" en MP o FP
df2023 = df2023[~(
    (df2023["MP"].isna()) | (df2023["MP"] == "-") |
    (df2023["FP"].isna()) | (df2023["FP"] == "-")
)]

In [10]:
# 3.- Eliminación de la columna 'Otros'
# --- Comprobación de la columna 'Otros' ---
# Según lo observado en Excel, toda la columna está vacía.
# Verificamos cuántos valores nulos hay y el total de registros.

nulos_otros = df2023["Otros"].isna().sum()
total_registros = len(df2023)

print(f"Nulos en 'Otros': {nulos_otros} de {total_registros}")

Nulos en 'Otros': 326 de 326

In [11]:
# --- Eliminación de la columna ---
# Como 'Otros' está completamente vacía, se elimina del DataFrame.
df2023 = df2023.drop(columns=["Otros"])

In [12]:
# 4. Sustitución de valores de Poliza
# Identificamos las filas donde Poliza está vacío (mask = True).
# Luego generamos valores únicos de reemplazo: "SIN_POLIZA_1", "SIN_POLIZA_2", ...
# Así cada registro conserva un identificador único, evitando duplicados y dejando claro cuáles fueron imputados.

mask = df2023["Poliza"].isnull()
df2023.loc[mask, "Poliza"] = [f"SIN_POLIZA_{i}" for i in range(1, mask.sum()+1)]

In [13]:
# 5. Imputación de TIPO GASTO
# Obtener la moda de TIPO GASTO
moda_tipo_gasto = df2023["TIPO GASTO"].mode()[0]

# Sustituir nulos con la moda
df2023["TIPO GASTO"] = df2023["TIPO GASTO"].fillna(moda_tipo_gasto)

In [14]:
# Comprobación de que ya no queden nulos
print("Nulos restantes por columna:")
print(df2023.isnull().sum())

# Mostrar algunos ejemplos de Folio y Poliza imputados
print("\nEjemplos Folio:")
print(df2023["Folio"].head(10))

print("\nEjemplos Poliza:")
print(df2023["Poliza"].head(10))

# Mostrar la moda utilizada y algunos ejemplos de TIPO GASTO
moda_tipo_gasto = df2023["TIPO GASTO"].mode()[0]
print(f"\nModa utilizada para TIPO GASTO: {moda_tipo_gasto}")
print("Ejemplos TIPO GASTO:")
print(df2023["TIPO GASTO"].head(10))

Nulos restantes por columna:
Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
FP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

Ejemplos Folio:
2                     341932
3                     341933
4                     342205
5     0001010100750847116902
6               007817297284
7                         56
8                   90864603
14                   4640966
15            22022120028311
17               SIN_FOLIO_1
Name: Folio, dtype: object

Ejemplos Poliza:
2       PE01-ENE23
3       PE02-ENE23
4       PE03-ENE23
5       PE50-FEB23
6     SIN_POLIZA_1
7      PE100-ENE23
8      PE136-ENE23
14    SIN_POLIZA_2
15    SIN_POLIZA_3
17      PE96-ENE23
Name: Poliza, dtype: object

Moda utilizada para TIPO GASTO: COMPRAS
Ejemplos TIPO GASTO:
2     ARRENDAMIENTO FINANCIERO
3     ARRENDAMIENTO FINANCIERO
4     ARRENDAMIENTO FINANCIERO
5            COMISION BANCARIA
6            COMISION BANCARIA
7                 CAPACITACION
8                      SEGUROS
14                NO DEDUCIBLE
15           COMISION BANCARIA
17                    TELEFONO
Name: TIPO GASTO, dtype: object

In [15]:
# Guardar DataFrame limpio en CSV
df2023.to_csv("df2023_limpio.csv", index=False, encoding="utf-8-sig")

print("Archivo guardado como: df2023_limpio.csv")

Archivo guardado como: df2023_limpio.csv