In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
!pip install openpyxl
import numpy as np
import matplotlib.pyplot as plt

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [2]:
#Importar archivo
df = pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name="2020",skiprows=5)

df

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1
0,2020-01-01,39408,BD20F436-72CC-4BE2-AD37-5999D71AA391,ARE080115PBA,ARSI RENTA SA DE CV,MAQUINARIA,NaN,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",1.0,0.00,2248.28,0.0,0.0,2248.28,16300.00,I,Vigente,NaN,14051.72
1,2020-01-01,0001010100750847116902,85AEAC2E-6395-44A0-9CB9-754D06893375,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,NaN,0.00
2,2020-01-01,0001010100752163714102,BD0DFE85-D776-41CB-9C5C-4FA7923E687A,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,195.00,31.20,0.0,0.0,226.20,226.20,I,Vigente,NaN,0.00
3,2020-01-01,3663,EF4504D6-830D-415C-AF03-80CF54C5E28E,PSS120625C86,PROMOTORA DE SERVICIOS Y SOLUCIONES EMPRESARIA...,HONORARIOS CONTABLES,NaN,HONORARIOS CONTABLES\nDEL MES DE ENERO DEL 2020.,1.0,10694.25,1711.08,0.0,0.0,12405.33,12405.33,I,Vigente,NaN,0.00
4,2020-01-01,2849,EC2F4AA4-BA64-4E2E-A5B7-4EBBE042D6D3,ENA7006081P0,ELECTROTERMICA NACIONAL SA DE CV,COMPRAS,NaN,Pago,1.0,0.00,NaN,0.0,0.0,0.00,0.00,P,Vigente,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,2020-12-01,125834,80BCB1D8-673F-495B-9C2A-4AC9F9CB38E5,SQS110113MU0,SERVICIO QUINTANA SUR S.A DE C.V,COMBUSTIBLE,G VTA,32011 MAGNA,1.0,129.79,20.21,0.0,0.0,150.00,150.00,I,Vigente,NaN,0.00
3338,2020-12-01,37652,D4C7C1FB-03A7-4046-A2BD-03EBE7DA861E,PSQ790724C90,"CIA. PERIODISTICA DEL SOL DE QUERETARO, S.A. D...",PUBLICIDAD,G VTA,82101504-PUBLICIDAD EN PERIODICOSCALOR Y CONTROL,1.0,2284.80,365.57,0.0,0.0,2650.37,2650.37,I,Vigente,NaN,0.00
3339,2020-12-01,160,FFCEE7D4-1F38-4D44-BE02-EB042DAACEE7,SQX981027RY5,"SUPER Q, S. A. DE C. V.",ALIMENTOS,G VTA,REF VICTORIA GROSELLA 3 LT PET NR,1.0,163.79,26.21,0.0,0.0,190.00,190.00,I,Vigente,NaN,0.00
3340,2020-12-01,634875,8DFF4F01-2F8B-4085-B116-05A314108B02,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,G FINA,COMISIONES E INTERESES,1.0,0.00,0.00,0.0,0.0,0.00,0.00,I,Vigente,NaN,0.00
3341,2020-12-01,1044477,F18225D6-4024-4F03-A15A-D18917386D59,EFE8908015L3,EFECTIVALE S. de R.L. de C.V.,COMBUSTIBLE,G VTA,CONSUMOS DE COMBUSTIBLE DE MONEDEROS ELECTRONICOS,1.0,14889.29,0.00,0.0,0.0,14889.29,14889.29,I,Vigente,NaN,0.00

In [3]:
#identificar valores nulos
null_counts = df.isnull().sum()

# Filtrar para mostrar solo las columnas con valores nulos y su cantidad
cols_with_null_counts = null_counts[null_counts > 0]
print("Columnas con valores nulos y su cantidad:")
print(cols_with_null_counts)

Columnas con valores nulos y su cantidad:
FOLIO       189
GASTO      2502
TC          391
IMPORTE      34
IVA         268
TIPO          1
POLIZA     3321
dtype: int64

In [4]:
#Rellenar null counts FOLIO
df["FOLIO"] = df["FOLIO"].fillna("SIN_FOLIO")

Rellene con el "SIN_FOLIO" ya que al ser el folio un resgistro unico rellenar con cualquier otro tipo de metodo podria afectar la localizacion.

In [5]:
#NULL VALUES TC
df["TC"] = df["TC"].fillna(method='ffill')

/tmp/ipython-input-46923590.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["TC"] = df["TC"].fillna(method='ffill')

Se uso un ffill para rellenar la variable tc

In [6]:
df["IMPORTE"]=df["IMPORTE"].fillna(0)

No utilice ningun metodo ordinario para rellena, use el 0 ya que el importe es parte de la compra

In [7]:
df["IVA"]=df["IVA"].fillna("SIN_DATO")

In [8]:
#identificar valores nulos
null_counts = df.isnull().sum()

# Filtrar para mostrar solo las columnas con valores nulos y su cantidad
cols_with_null_counts = null_counts[null_counts > 0]
print("Columnas con valores nulos y su cantidad:")
print(cols_with_null_counts)

Columnas con valores nulos y su cantidad:
GASTO     2502
TIPO         1
POLIZA    3321
dtype: int64

In [9]:
df["TIPO"]=df["TIPO"].fillna(method="bfill")

/tmp/ipython-input-2653364362.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["TIPO"]=df["TIPO"].fillna(method="bfill")

In [10]:
df["POLIZA"]=df["POLIZA"].fillna(0)

In [11]:
#identificar valores nulos
null_counts = df.isnull().sum()

# Filtrar para mostrar solo las columnas con valores nulos y su cantidad
cols_with_null_counts = null_counts[null_counts > 0]
print("Columnas con valores nulos y su cantidad:")
print(cols_with_null_counts)

Columnas con valores nulos y su cantidad:
GASTO    2502
dtype: int64

In [12]:
df["GASTO"]=df["GASTO"].fillna("SIN_DATO")

In [13]:
#identificar valores nulos
null_counts = df.isnull().sum()

# Filtrar para mostrar solo las columnas con valores nulos y su cantidad
cols_with_null_counts = null_counts[null_counts > 0]
print("Columnas con valores nulos y su cantidad:")
print(cols_with_null_counts)

Columnas con valores nulos y su cantidad:
Series([], dtype: int64)

In [14]:
df.to_excel("Gastos y costos20-23_clean.xlsx", index=False)